/* Header */
header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #e10f0f;
    height: 50px;
}

h2 {
    font-size: 1em;
    color: #ff0000;
}

/*logo*/
.recipe-app-logo {
    width: 15%;
}

/*Body*/
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    margin: 0;
}

.recipe-book-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    flex: 1;
    background-image: url(/images/kitchen-bkgrd.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    min-height: 100vh;
    margin: 216px 0 0 0;
}

.search-container {
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0px;
    right: 0px;
}

.search-field {
    margin: 72px 16px 0 16px;
}

.grocery-list-container {
    background-image: url(/images/grocery-store.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    min-height: 100vh;
    margin: 220px 0 64px 0;
}

.grocery-list {
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0px;
    right: 0px;
}

.grocery-form {
    margin: 72px 16px 0 16px;
}

ul {
    padding-top: 60px; 
}

li {
   padding: 12px 0 0 0;
}

h4 {
    margin: 0;
    font-size: 12px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 16px 0;
}

input {
    width: 90%;
}

#add-recipe-btn {
    width: 50%;
    margin: 42px 0 0 0;
    padding: 10px;
    border: 2px dashed #000000;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.not {
    text-decoration: underline;
}

.search-input {
    height: 20px;
    padding: 8px;
}

.grocery-input{
    height: 20px;
    padding: 8px;
}

.button {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
}

.submit-btn{
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    margin: 8px 0 0 0;
}

.del img {
    vertical-align: middle;
    width: 15px;
}

/* Search Overlay */
.search-overlay{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ff0000;
    padding: 24px;
    margin: 0;
    height: 100%;
    min-height: 40vh;
    .close-btn{
        color: #ffffff;
        text-align: right;
        font-size: 56px;
    }
    h1 {
        color: #ffffff;
        text-align: center;
    }
}

.search-input {
    border-radius: 4px;
}

.create-btn {
    margin: 32px;
    font-size: 16px;
    padding: 8px 16px;
}


/* Footer */
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #ffffff;
}